body{
  background-color: #F4F8FA;
}

.App {
  position: relative;
}

.App-header {
  width: 100%;
  height: 80px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #FFFFFF;
}

.logo{
  width: 160px;
  height: 69px;
  position: absolute;
  left: 67px;
  top: 6px;
}

.title{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  position: absolute;
  height: 24px;
  margin: auto;
  width: 100%;
  top: 113px;
}

.title-content{
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;

  text-align: center;
  color: #1B31A8;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.container{
  display: flex;
  position: absolute;
  top: 162px;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

.leftpane{
  height: 250px;
  width: 600px;
}

.rightpane{
  /* background-color: green; */
  height: 500px;
  width: 500px;
}

.form{
  padding: 1.5rem;
  padding-left: 2rem;
}

.form label{
  display: block;

  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;

  color: #000000;
}

input[type="text"]{
  width: 60%;
  border: 1px solid #E9EEF2;
  border-radius: 4px;
  background: #FFFFFF;
  box-sizing: border-box;

  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;

  color: #4D6475;

  background-image: url(../public/location.jpg);
  padding-left: 40px;
  background-position: 10px 6px;
  background-repeat: no-repeat;
  background-size: 5%;
}

.btn{
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem 0rem;
}

.btn button {
  padding: 10px 20px;
  border-radius: 32px;
  background-color: #1B31A8;

  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #FFFFFF;

  border: 0px;
}

.top{
  display: flex;
  align-items: center;
  padding: 20px;

  padding-left: 2rem;;
}

.result{
  background-color: #FFFFFF;
  margin: 1.5rem;
  margin-left: 2rem;
  border-radius: 8px;

  border: 1px solid #E9EEF2;
}

.distance{
  padding: 20px;
  background-color: #F4F8FA;
  padding-left: 2rem;
  display: flex;
  align-items: center;

  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;

  color: #1E2A32;
}

.lab{
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;

  width: 100%;

  color: #1E2A32;
}

.kms{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;

  width: 100%;

  text-align: right;

  color: #0079FF;
}